body {
    font-size: 16px;
    color: #fff;
    background-color: #8FBC8F;
    font-family: sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #556B2F;
    border-radius: 0;
    border: 0;
    color:  white;
}

.navbar-brand p {
    color: white;
    font size:  20px;
}
.navbar-brand a:focus, .navbar-brand a:hover {
    text-decoration: none;
}

#nav-list a {
    color: #90EE90;
    text-align: center;
}

#nav-list a:hover {
    backgrounf-color: #8243d6;
}


/* END HEADER */

#home {
    margin-bottom: 30px;
}

.row {
    position: relative;
    float: left;
}
.row > div > article {
    background-color: white;
    text-align: justify;
    margin-bottom: 20px;
    padding: 12px;
    color: black;
}
@media (max-width:  767px) {
    .row > div > article {
        width:  80%;
        margin: 20px auto 0;
    }
}
